<li class=" pure-menu-item comment" id="comment<%= comment.id %>">
  <p><%= comment.body %></p>
  <p>Vote total: <%= comment.vote_count %>
  <% if current_user %>
  	<%= link_to image_tag("1_14_up.png"), upvote_comment_path(comment), method: :post %>
    <%= link_to image_tag("1_14_down.png"), downvote_comment_path(comment), method: :post %>
  <% end %>
  </p>
</li>
