<h3>Add A Buddy</h3>
<%= render 'search' %>

<h3><%= @user.username %>'s Mutual Buddies</h3>
<ul>
  <% @user.mutual.each do |buddy| %>
    <li><a href="/users/<%= buddy.id%>"><%= buddy.username %></a></li>
  <% end %>
</ul>

<h3><%= @user.username %>'s Pending Buddies</h3>
<ul>
  <% @user.pending.each do |buddy| %>
    <li><a href="/users/<%= buddy.id%>"><%= buddy.username %></a></li>
  <% end %>
</ul>
