<img src="<%= @user.avatar_url%>" />

<h1 class="partial-header"><%= @user.username %>'s Profile</h1>

<% if check_friend_status(current_user.id,@user.id) == nil %>
  <%= button_to "Send Buddy Request", {action: "buddies", id: current_user.id, buddy: @user.id}, method: "post" %>
  <% if @error %>
    <p><%= @error %></p>
  <% end %>

  <%= render 'user_games' %>

  <%= render 'user_wanted_games' %>
<% else %>

  <%= render 'buddies' %>

  <%= render 'user_games' %>

  <%= render 'user_wanted_games' %>

  <%= render 'comments' %>
<% end %>


