<% form_for @game do |f| %>

  <% if @game.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h3>

    <ul>
    <% @game.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_area :description %>
<% end %>

