<%= form_for @game do |f| %>

  <% if @game.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h3>

    <ul>
    <% @game.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p><%= f.label :title %>
  <%= f.text_field :title %></p><p>
  <%= f.label :description %>
  <%= f.text_area :description %></p><p>
  <%= f.label :min_players %>
  <%= f.number_field :min_players, :class => 'text_field', :step => 1, :min => 1 %></p><p>
  <%= f.label :max_players %>
  <%= f.number_field :max_players, :class => 'text_field', :step => 1, :min => 1 %></p><p>
  <%= f.label :average_time, "Average Time in Minutes" %>
  <%= f.number_field :average_time, :class => 'text_field', :step => 5, :min => 5 %></p><p>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %></p><p>
  <% possible_mechanics = [] %>
  <% @mechanics.each do |mechanic| %>
    <% possible_mechanics << [mechanic.trait, mechanic.trait] %>
  <% end %>
  <%= f.label :mechanics %>
  <%= f.select :mechanics, possible_mechanics %></p><p>
  <%= f.submit %></p>

<% end %>

