<div class="game-wrapper">
  <div class="game">
    <a href="/games/<%= game.id %>"><img class="game-img pure-img-responsive" src="<%= game.image_url %>" alt="<%= game.title %>" /></a>
    <div class="game-text">
      <h3><%= link_to "#{game.title}", game %></h3>
      <p>Players:
        <% if game.min_players == game.max_players %>
          <%= game.min_players %>
        <% else %>
          <%= game.min_players %>-<%= game.max_players %>
        <% end %>
      </p>
      <p>Average Time: <%= game.average_time %> minutes</p>
      <div class="game-forms">
      <% if current_user %>
        <% if current_user.games.include?(game) %>
           <%= button_to "Owned!", {controller: "users", action: "owned_games", id: current_user.id, game: game.id}, method: "post", remote: true, class: "own-button-#{game.id}", disabled: true %>
        <% else %>
          <%= button_to "Have It!", {controller: "users", action: "owned_games", id: current_user.id, game: game.id}, method: "post", remote: true, class: "own-button-#{game.id}" %>
        <% end %>
        <% if current_user.wanted_games.include?(game) %>
          <%= button_to "Wanted!", {controller: "users", action: "owned_games", id: current_user.id, game: game.id}, method: "post", remote: true, class: "want-button-#{game.id}", disabled: true %>
        <% else %>
          <%= button_to "Want It!", {controller: "users", action: "wanted_games", id: current_user.id, wanted_game: game.id}, method: "post", remote: true, class: "want-button-#{game.id}" %>
        <% end %>
      <% end %>
    </div>
    </div>
    <p class="votes-label">votes</p>
    <div class="game-votes">
      <%= game.vote_count %>
    </div>
  </div>
</div>
