<div class="game">
  <p><%= link_to "#{game.title}", game %></p>
  <p>Players: <%= game.min_players %>-<%= game.max_players %></p>
  <p>Average Time: <%= game.average_time %> minutes</p>
  <img src="<%= game.image_url %>" alt="<%= game.title %>" />
</div>
