<h1 class=" games-index partial-header">All Games</h1>
<div class="game-link-bar">
	<%= link_to "A-Z", games_path %>
	<%= link_to "Most Popular", most_popular_games_path %>
	<%= link_to "Most Owned", most_owned_games_path %>
	<%= link_to "Most Wanted", most_wanted_games_path %>
</div>
<br style="clear:both" />
<%= render @games %>

<p><%= link_to "Add a New Game", new_game_path %></p>
