<h1> <%= @game.title %> </h1>
<img src="<%= @game.image_url %>" alt="<%= @game.title %>" />
<p>Description: <%= @game.description %></p>
<p>Players: <%= @game.min_players %>-<%= @game.max_players %></p>
<p>Average Time: <%= @game.average_time %> minutes</p>
<p>Features:</p>
<ul>
<% @game.mechanics.each do |mechanic| %>
  <li><%= mechanic.trait %></li>
<% end %>
</ul>
<h2>Votes: <%= @game.vote_count %></h2>

<h2>Comments:</h2>
<% if @game.comments.length > 0 %>
  <%= render @comments %>
<% end %>

<h3>Add Comment:</h3>

<%= form_tag("/games/#{@game.id}/comments", method: "post") do %>

  <% if @comment.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h3>

    <ul>
    <% @comment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <textarea name="comments[:body]"></textarea>
  <%= submit_tag("Add comment") %>
<% end %>
