<!--




<h1> <%= @game.title %> </h1>
<img src="<%= @game.image_url %>" alt="<%= @game.title %>" />

<p>Players: <%= @game.min_players %>-<%= @game.max_players %></p>
<p>Average Time: <%= @game.average_time %> minutes</p>

<h2>Votes: <%= @game.vote_count %></h2>

 -->
<div class="pure-g">
 <div class=" pure-u-1 pure-u-md-1-3 game-wrapper">
  <div class="game">
    <img class="game-img pure-img-responsive" src="<%= @game.image_url %>" alt="<%= @game.title %>" />
    <div class="game-text">
      <h3><%= link_to "#{@game.title}", @game %></h3>
      <p>Players: <%= @game.min_players %>-<%= @game.max_players %></p>
      <p>Average Time: <%= @game.average_time %> minutes</p>
    </div>
    <p class="votes-label">votes</p>
    <div class="game-votes">
      <%= @game.vote_count %>
    </div>
  </div>
 </div>
 <div class=" pure-u-1 pure-u-md-1-3">
   <p>Description: <%= @game.description %></p>
   <p>Features:</p>
     <ul>
       <% @game.mechanics.each do |mechanic| %>
         <li><%= mechanic.trait %></li>
       <% end %>
     </ul>
  <% if current_user %>
    <p>What’s your opinion about this game? Vote here:
    <%= link_to image_tag("1_14_up.png"), upvote_game_path(@game), method: :post %>
    <%= link_to image_tag("1_14_down.png"), downvote_game_path(@game), method: :post %>
  <% end %>
 </div>
 <div class=" pure-u-1 pure-u-md-1-3">

  <h2>Comments:</h2>
  <% if @game.comments.length > 0 %>
    <%= render @comments %>
  <% end %>

  <h3>Add Comment:</h3>

  <%= form_tag("/games/#{@game.id}/comments", method: "post") do %>

    <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h3>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    <% end %>

    <textarea name="comment[body]"></textarea>
    <%= submit_tag("Add comment") %>
  <% end %>
   </div>
</div>

