<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great|Henny+Penny|Loved+by+the+King|Cedarville+Cursive' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "http://yui.yahooapis.com/pure/0.6.0/pure-min.css" %>
  <!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"> -->
  <%= stylesheet_link_tag "http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css" %>
  <%= stylesheet_link_tag "side-menu" %>
  <%= stylesheet_link_tag "pure-custom" %>
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Gamenight</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
 </head>
 <body>
   <div id="layout">
    <!-- Menu toggle -->
     <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
     </a>

     <div id="menu">
       <img id="logo" src="/images/moon cloud.png">
        <div class="pure-menu">

            <ul class="pure-menu-list">
            <% if current_user %>
                <li class="menu-item-custom pure-menu-item"><a href="/users/<%= current_user.id %>" class="pure-menu-link">your profile</a></li>
                <li class="menu-item-custom pure-menu-item"><%= link_to "your buddies", user_path(current_user, partial: "buddies")%> </li>
                <li class="menu-item-custom pure-menu-item" class="menu-item-divided pure-menu-selected">
                  <%= link_to "your games", user_path(current_user || 0, :query => "games")%>
                </li>

                <li class="menu-item-custom pure-menu-item">
                  <%= link_to "your wishlist", user_path(current_user || 0, :query => "wanted games")%>
                </li>
            </ul>
            <a class="pure-menu-heading" href="#"><img class=" pure-image-responsive">Games</a>
            <ul class="pure-menu-list">
              <li class="menu-item-custom pure-menu-item"><a href="/games" class="pure-menu-link">all the games</a></li>
            </ul>
        </div>
    </div>


  <div id="main">
    <nav class="pure-g nav-custom">
      <% if current_user %>
        <h6 class="user-login pure-u-1-4"></h6>
        <h6 class="user-login pure-u-1-4"><%= link_to "logout", destroy_user_session_path %></h6>
      <% else %>
        <h6 class="user-login pure-u-1-4"><%= link_to "signup", user_registration_path %></h6>
        <h6 class="user-login pure-u-1-4"><%= link_to "login", new_user_session_path %></h6>
      <% end %>
      <h6 class="user-login pure-u-1-4"><%= link_to "games home", root_path %></h6>
      <h4 class="user-login zero-buddies pure-u-1-4">0-buddies</h4>
    </nav>
    <div class="title-bar">
    <h1 class="site-title">Gamenight</h1>
    <h5 class="site-subtitle">"who let the pawns out?"</h5>
    <img src="/images/dice-banner.jpg">
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
</div>
<script src="http://purecss.io/combo/1.18.13?/js/ui.js"></script>
</body>
</html>
