<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Fredericka+the+Great|Henny+Penny|Loved+by+the+King|Cedarville+Cursive' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "http://yui.yahooapis.com/pure/0.6.0/pure-min.css" %>
  <!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"> -->
  <%= stylesheet_link_tag "http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css" %>
  <%= stylesheet_link_tag "side-menu" %>
  <%= stylesheet_link_tag "pure-custom" %>
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Gamenight</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
 </head>
 <body>
   <div id="layout">
    <!-- Menu toggle -->
     <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
     </a>

     <div id="menu">
       <img id="logo" src="/images/moon cloud.png">
        <div class="pure-menu">
            
            <ul class="pure-menu-list">
                <li class="menu-item-custom pure-menu-item"><a href="#" class="pure-menu-link">your comments</a></li>
                <li class="menu-item-custom pure-menu-item"><a href="#" class="pure-menu-link">your buddies</a></li>

                <li class="menu-item-custom pure-menu-item" class="menu-item-divided pure-menu-selected">
                    <a href="#" class="pure-menu-link">your games</a>
                </li>

                <li class="menu-item-custom pure-menu-item"><a href="#" class="pure-menu-link">your wishlist</a></li>
            </ul>
            <a class="pure-menu-heading" href="#"><img class=" pure-image-responsive">Games</a>
            <ul class="pure-menu-list">
              <li class="menu-item-custom pure-menu-item"><a href="/games" class="pure-menu-link">all the games</a></li>
            </ul>
        </div>
    </div>


  <div id="main">
    <nav class="pure-g nav-custom">
      <h6 class="user-login pure-u-1-4">signup</h6>
      <h6 class="user-login pure-u-1-4">login</h6>
      <h6 class="user-login pure-u-1-4">home</h6>
      <h6 class="user-login zero-buddies pure-u-1-4"> 0-buddies</h6>
          
    </nav>
    <div class="title-bar">
    <h1 class="site-title">Gamenight</h1>
    <h5 class="site-subtitle">"who let the pawns out?"</h5>
    <img src="/images/dice-banner.jpg">     
    </div>
 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
</div>
<script src="http://purecss.io/combo/1.18.13?/js/ui.js"></script>
</body>
</html>
